$spacing-2: 0.125rem;
$spacing-3: 0.188rem;
$spacing-4: 0.25rem;
$spacing-15: 0.938rem;
$spacing-20: 1.25rem;
$spacing-250: 15.625rem;

$white-1: #FFFFFF;
$white-2: #f2f2f2;
$grey-1: #353935;
$green-1: chartreuse;
$red-1: #ff4433;
