@import '../../styles/variables';

.add-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: $spacing-20;
  background-color: $white-2;

  &__input-field {
    text-align: center;
    margin-right: $spacing-20;
    border: 0px;
    border-radius: $spacing-4;
    height: $spacing-20;
    width: $spacing-250;

    &:focus {
      outline: none;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }

  .add-btn {
    position: absolute;
    right: 33%;
  }
}
